# Child Marriage Factors in Indonesia 2012-2013

__Created by: Zoraidha Aulia__

## Read Data

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [15]:
PATH='susenas12/sn12_ki.csv'

In [16]:
# read data function
def read_data(file_directory):
    '''
        file directory: string
        csv file location
    '''
    data = pd.read_csv(file_directory).copy()
    return data

In [17]:
sus12_ki = read_data(PATH)

In [18]:
sus12_ki

,URUT,B1R1,B1R2,B1R5,B1R8,NART,HB,JK,UMUR,KWN,...,B5R34C2,B5R34C3,B5R35,B5R36,B5R37,B5R38,B5R38L,KABU,EXP_CAP,WEIND
0,110112500101601,11,1,1,1,1,1,1,41,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
1,110112500101601,11,1,1,1,2,2,2,30,2,...,0.0,0.0,1.0,4.0,NaN,NaN,NaN,1101,3.434643e+05,45.876255
2,110112500101601,11,1,1,1,3,3,2,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
3,110112500101601,11,1,1,1,4,3,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
4,110112500101602,11,1,1,2,1,1,1,35,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,5.703095e+05,55.252186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114440,947122001103810,94,71,2,10,2,2,2,37,2,...,0.0,0.0,3.0,NaN,1.0,NaN,NaN,9471,1.348310e+06,6.000000
1114441,947122001103810,94,71,2,10,3,3,1,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114442,947122001103810,94,71,2,10,4,3,2,9,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114443,947122001103810,94,71,2,10,5,7,2,46,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114444,947122001103810,94,71,2,10,6,7,1,18,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000

In [19]:
total_pop=sus12_ki['WEIND'].sum()
print('{:,.0f}'.format(total_pop))

245,138,422

## Select Relevant Variable

Dalam menentukan relevan variabel pada data susenas, paling mudah dilakukan dengan melihat kembali kuesioner survey dengan mempertimbangkan tujuan penelitian. Pada kasus faktor pernikahan dini tahun 2012, berikut relevan variabel yang terdapat pada susenas 2012:

1. __URUT__: Identifier rumah tangga
2. __NART__: Nomor urut individu dalam rumah tangga
3. __B1R1__: Kode provinsi
4. __B1R2__: Kode kabupaten/kota
5. __B1R5__: Klasifikasi desa/kelurahan (status daerah perkotaan/pedesaan)
6. __B4R5/umur__: Umur (tahun)
7. __B4R3/HB__: Hubungan dengan kepala rumah tangga
8. __B4R4/JK__: Jenis kelamin
9. __B4R6/KWN__: Status perkawinan
10. __B5R17__: Ijazah/STTB tertinggi yang dimiliki
11. __B5R32__: Umur pada saat perkawinan pertama
12. __B5R33__: Jumlah tahun dalam ikatan perkawinan
13. __B5R18A__: Mengikuti pendidikan dalam 3 bulan terakhir
14. __B5R19A__: Dapat membaca dan menulis Huruf Latin
15. __B5R19B__: Dapat membaca dan menulis Huruf Arab
16. __B5R19C__: Dapat membaca dan menulis Huruf Lainnya
17. __B5R20__: Apakah pernah mengakses internet dalam 3 bulan terakhir?
18. __EXP_CAP__: Pengeluaran per kapita
19. __WEIND__: Weighting

In [20]:
cmdata=sus12_ki[['URUT', 'NART', 'B1R1', 'B1R2', 'B1R5', 'UMUR', 'HB', 'JK', 'KWN', 'B5R17', 'B5R32', 'B5R33', 'B5R18A', 'B5R19A', 'B5R19B', 'B5R19C', 'B5R20', 'EXP_CAP', 'WEIND']]
cmdata

,URUT,NART,B1R1,B1R2,B1R5,UMUR,HB,JK,KWN,B5R17,B5R32,B5R33,B5R18A,B5R19A,B5R19B,B5R19C,B5R20,EXP_CAP,WEIND
0,110112500101601,1,11,1,1,41,1,1,2,8.0,NaN,NaN,2.0,1.0,1.0,2.0,2.0,3.434643e+05,45.876255
1,110112500101601,2,11,1,1,30,2,2,2,8.0,23.0,7.0,2.0,1.0,1.0,2.0,2.0,3.434643e+05,45.876255
2,110112500101601,3,11,1,1,5,3,2,1,1.0,NaN,NaN,1.0,1.0,2.0,2.0,2.0,3.434643e+05,45.876255
3,110112500101601,4,11,1,1,0,3,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.434643e+05,45.876255
4,110112500101602,1,11,1,1,35,1,1,2,5.0,NaN,NaN,2.0,1.0,1.0,2.0,2.0,5.703095e+05,55.252186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114440,947122001103810,2,94,71,2,37,2,2,2,8.0,25.0,12.0,1.0,1.0,2.0,1.0,1.0,1.348310e+06,6.000000
1114441,947122001103810,3,94,71,2,10,3,1,1,1.0,NaN,NaN,1.0,1.0,2.0,2.0,2.0,1.348310e+06,6.000000
1114442,947122001103810,4,94,71,2,9,3,2,1,1.0,NaN,NaN,1.0,1.0,2.0,2.0,2.0,1.348310e+06,6.000000
1114443,947122001103810,5,94,71,2,46,7,2,1,5.0,NaN,NaN,2.0,1.0,2.0,2.0,2.0,1.348310e+06,6.000000
1114444,947122001103810,6,94,71,2,18,7,1,1,8.0,NaN,NaN,2.0,1.0,2.0,1.0,2.0,1.348310e+06,6.000000