# Child Marriage Factors in Indonesia 2012-2013

__Created by: Zoraidha Aulia__

## Read Data

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import statsmodels.api as sm
import os
import random

In [2]:
# Susenas 2012
sus12_ki = pd.read_csv('susenas12/sn12_ki.csv')
sus12_kr = pd.read_csv('susenas12/sn12_krt.csv')

# Susenas 2013
sus13_ki = pd.read_csv('susenas13/sn13_ki.csv')
sus13_kr = pd.read_csv('susenas13/sn13_krt.csv')

In [3]:
# Layout Sus12
xlsus12_ki = pd.ExcelFile('susenas12/Layout -- Susenas 2012 Kor Gabungan.xls')
xlsus12_kr = pd.ExcelFile('susenas12/Layout -- Susenas 2012 Modul Gabungan.xls')

# Layout Sus13
xlsus13_kir = pd.ExcelFile('susenas13/Layout -- Susenas 2013 Q1 Kor.xls')

In [4]:
# Variabel dan Label 2012
var_ki12 = pd.read_excel('susenas12/Layout -- Susenas 2012 Kor Gabungan.xls', sheet_name='VARIABEL_KORIND')
label_ki12 = pd.read_excel('susenas12/Layout -- Susenas 2012 Kor Gabungan.xls', sheet_name='LABEL_KORIND')

# Variabel dan Label 2013
var_ki13 = pd.read_excel('susenas13/Layout -- Susenas 2013 Q1 Kor.xls', sheet_name='KOR_Ind')
label_ki13 = pd.read_excel('susenas13/Layout -- Susenas 2013 Q1 Kor.xls', sheet_name='LABEL_Ind')

In [5]:
sus12_ki

,URUT,B1R1,B1R2,B1R5,B1R8,NART,HB,JK,UMUR,KWN,...,B5R34C2,B5R34C3,B5R35,B5R36,B5R37,B5R38,B5R38L,KABU,EXP_CAP,WEIND
0,110112500101601,11,1,1,1,1,1,1,41,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
1,110112500101601,11,1,1,1,2,2,2,30,2,...,0.0,0.0,1.0,4.0,NaN,NaN,NaN,1101,3.434643e+05,45.876255
2,110112500101601,11,1,1,1,3,3,2,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
3,110112500101601,11,1,1,1,4,3,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
4,110112500101602,11,1,1,2,1,1,1,35,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,5.703095e+05,55.252186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114440,947122001103810,94,71,2,10,2,2,2,37,2,...,0.0,0.0,3.0,NaN,1.0,NaN,NaN,9471,1.348310e+06,6.000000
1114441,947122001103810,94,71,2,10,3,3,1,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114442,947122001103810,94,71,2,10,4,3,2,9,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114443,947122001103810,94,71,2,10,5,7,2,46,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114444,947122001103810,94,71,2,10,6,7,1,18,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000

In [6]:
sus13_ki

,Unnamed: 0,urut,b1r1,b1r5,b1r7,b1r8,nart,triwulan,hb,jk,...,b5r34c1,b5r34c2,b5r34c3,b5r35,b5r36,b5r37,b5r38,b5r38l,exp_cap,weind
0,0,2.750231e+07,11,1,2500210,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
1,1,2.750231e+07,11,1,2500210,1,2,1,2,2,...,0.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,3.613396e+05,328.76685
2,2,2.750231e+07,11,1,2500210,1,3,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
3,3,2.750231e+07,11,1,2500210,1,4,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
4,4,2.750231e+07,11,1,2500210,1,5,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274046,274046,2.403726e+11,94,2,2000904,9,3,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.720819e+05,593.98126
274047,274047,2.403726e+11,94,2,2000904,9,4,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.720819e+05,593.98126
274048,274048,2.403726e+11,94,2,2000904,9,5,1,6,2,...,0.0,0.0,0.0,2.0,NaN,3.0,1.0,NaN,8.720819e+05,593.98126
274049,274049,2.670807e+11,94,2,2000904,10,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.560233e+06,494.19986
274050,274050,2.670807e+11,94,2,2000904,10,2,1,2,2,...,1.0,0.0,1.0,2.0,NaN,3.0,1.0,NaN,1.560233e+06,494.19986

In [7]:
var_ki12

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,Variable Information,NaN,NaN
3,Position,Variable,Label,NaN
4,1,URUT,Key variable for merge data,8.0
...,...,...,...,...
122,119,B5R38,Alasan utama tidak ber KB,1.0
123,120,B5R38L,Lainnya,100.0
124,121,KABU,Kab/Kota,4.0
125,122,EXP_CAP,Rata-rata Pengeluaran Perkapita Sebulan,8.2
126,123,WEIND,Penimbang penduduk,8.2

In [8]:
label_ki12

          Unnamed: 0  Unnamed: 1      Unnamed: 2
0                NaN         NaN             NaN
1                NaN         NaN             NaN
2    Variable Values         NaN             NaN
3              Value         NaN           Label
4               B1R1        11.0            Aceh
..               ...         ...             ...
828              NaN      9433.0      33. Puncak
829              NaN      9434.0     34. Dogiyai
830              NaN      9435.0  35. Intan Jaya
831              NaN      9436.0      36. Deiyai
832              NaN      9471.0    71. Jayapura

[833 rows x 3 columns]

In [9]:
var_ki13

,LAYOUT SUSENAS KOR INDIVIDU TRW.1 TAHUN 2013,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Variable,Position,Label
3,URUT,1,VARIABEL UNTUK GABUNG DATA
4,B1R1,2,Provinsi
...,...,...,...
126,B5R38,124,Alasan utama tidak ber KB
127,B5R38L,125,Lainnya
128,EXP_CAP,126,Pengeluaran perkapita sebulan
129,WEIND,127,Penimbang penduduk
130,Variables in the working file,NaN,NaN

In [10]:
label_ki13

,LAYOUT SUSENAS KOR INDIVIDU TRW.1 TAHUN 2013,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Variable,Position,Label
3,B1R1,11,Nanggroe Aceh Darussalam
4,NaN,12,Sumatera Utara
...,...,...,...
337,NaN,2,Tidak setuju KB
338,NaN,3,Tidak tahu alat/cara KB
339,NaN,4,Takut efek samping alat/cara KB
340,NaN,5,Tidak tahu
341,NaN,6,Lainnya

## Formatting the Dataset

In [12]:
#2012
df12=sus12_ki.copy()
var12=var_ki12.copy()
label_12=label_ki12.copy()

#2013
df13=sus13_ki.copy()
var13=var_ki13.copy()
label_13=label_ki13.copy()