# Child Marriage Factors in Indonesia 2012-2013

__Created by: Zoraidha Aulia__

## Read Data

In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import statsmodels.api as sm
import os
import random

In [4]:
# Susenas 2013
sus13_ki = pd.read_csv('susenas13/sn13_ki.csv')
sus13_kr = pd.read_csv('susenas13/sn13_krt.csv')

In [5]:
# Layout Sus13
xlsus13_kir = pd.ExcelFile('susenas13/Layout -- Susenas 2013 Q1 Kor.xls')

In [6]:
# Variabel dan Label 2013
var_ki13 = pd.read_excel('susenas13/Layout -- Susenas 2013 Q1 Kor.xls', sheet_name='KOR_Ind')
label_ki13 = pd.read_excel('susenas13/Layout -- Susenas 2013 Q1 Kor.xls', sheet_name='LABEL_Ind')

In [7]:
sus13_ki

,Unnamed: 0,urut,b1r1,b1r5,b1r7,b1r8,nart,triwulan,hb,jk,...,b5r34c1,b5r34c2,b5r34c3,b5r35,b5r36,b5r37,b5r38,b5r38l,exp_cap,weind
0,0,2.750231e+07,11,1,2500210,1,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
1,1,2.750231e+07,11,1,2500210,1,2,1,2,2,...,0.0,0.0,0.0,1.0,5.0,NaN,NaN,NaN,3.613396e+05,328.76685
2,2,2.750231e+07,11,1,2500210,1,3,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
3,3,2.750231e+07,11,1,2500210,1,4,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
4,4,2.750231e+07,11,1,2500210,1,5,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.613396e+05,328.76685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274046,274046,2.403726e+11,94,2,2000904,9,3,1,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.720819e+05,593.98126
274047,274047,2.403726e+11,94,2,2000904,9,4,1,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.720819e+05,593.98126
274048,274048,2.403726e+11,94,2,2000904,9,5,1,6,2,...,0.0,0.0,0.0,2.0,NaN,3.0,1.0,NaN,8.720819e+05,593.98126
274049,274049,2.670807e+11,94,2,2000904,10,1,1,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.560233e+06,494.19986
274050,274050,2.670807e+11,94,2,2000904,10,2,1,2,2,...,1.0,0.0,1.0,2.0,NaN,3.0,1.0,NaN,1.560233e+06,494.19986

In [9]:
var_ki13

,LAYOUT SUSENAS KOR INDIVIDU TRW.1 TAHUN 2013,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Variable,Position,Label
3,URUT,1,VARIABEL UNTUK GABUNG DATA
4,B1R1,2,Provinsi
...,...,...,...
126,B5R38,124,Alasan utama tidak ber KB
127,B5R38L,125,Lainnya
128,EXP_CAP,126,Pengeluaran perkapita sebulan
129,WEIND,127,Penimbang penduduk
130,Variables in the working file,NaN,NaN

In [10]:
label_ki13

,LAYOUT SUSENAS KOR INDIVIDU TRW.1 TAHUN 2013,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,NaN,NaN,NaN
2,Variable,Position,Label
3,B1R1,11,Nanggroe Aceh Darussalam
4,NaN,12,Sumatera Utara
...,...,...,...
337,NaN,2,Tidak setuju KB
338,NaN,3,Tidak tahu alat/cara KB
339,NaN,4,Takut efek samping alat/cara KB
340,NaN,5,Tidak tahu
341,NaN,6,Lainnya

## Formatting the Dataset

In [11]:
#2013
df13=sus13_ki.copy()
var13=var_ki13.copy()
label_13=label_ki13.copy()