# Child Marriage Factors in Indonesia 2012-2013

__Created by: Zoraidha Aulia__

## Read Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [13]:
PATH='susenas12/sn12_ki.csv'

In [14]:
# read data function
def read_data(file_directory):
    '''
        file directory: string
        csv file location
    '''
    data = pd.read_csv(file_directory).copy()
    return data

In [15]:
sus12_ki = read_data(PATH)

In [16]:
sus12_ki

,URUT,B1R1,B1R2,B1R5,B1R8,NART,HB,JK,UMUR,KWN,...,B5R34C2,B5R34C3,B5R35,B5R36,B5R37,B5R38,B5R38L,KABU,EXP_CAP,WEIND
0,110112500101601,11,1,1,1,1,1,1,41,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
1,110112500101601,11,1,1,1,2,2,2,30,2,...,0.0,0.0,1.0,4.0,NaN,NaN,NaN,1101,3.434643e+05,45.876255
2,110112500101601,11,1,1,1,3,3,2,5,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
3,110112500101601,11,1,1,1,4,3,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,3.434643e+05,45.876255
4,110112500101602,11,1,1,2,1,1,1,35,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1101,5.703095e+05,55.252186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114440,947122001103810,94,71,2,10,2,2,2,37,2,...,0.0,0.0,3.0,NaN,1.0,NaN,NaN,9471,1.348310e+06,6.000000
1114441,947122001103810,94,71,2,10,3,3,1,10,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114442,947122001103810,94,71,2,10,4,3,2,9,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114443,947122001103810,94,71,2,10,5,7,2,46,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000
1114444,947122001103810,94,71,2,10,6,7,1,18,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9471,1.348310e+06,6.000000

### Cek kekosongan data

In [17]:
sus12_ki.isnull().sum()

URUT             0
B1R1             0
B1R2             0
B1R5             0
B1R8             0
            ...
B5R38       956255
B5R38L     1088260
KABU             0
EXP_CAP          0
WEIND            0
Length: 123, dtype: int64

Pada data susenas terdapat *weighting* untuk menentukan bagaimana data per individu/rumah tangga merepresentasikan data populasi yang relevan, maka total dari seluruh bobot individu (__weind__) akan kurang lebih sama dengan jumlah populasi Indonesia saat itu. Selain itu perlu diperhatikan untuk tidak mengasumsikan bahwa data ini memiliki keakuratan yang sama dengan hasil Sensus Penduduk (jumlah penduduk per tahun diekstrapolasi dari hasil Sensus dan Supas)

In [18]:
total_pop=sus12_ki['WEIND'].sum()
print('{:,.0f}'.format(total_pop))

245,138,422